<div class="container">
  <mat-list>
    <mat-list-item>
      <b>Total persoane:</b>&nbsp;{{nuntasiService.totalPersoane}}
    </mat-list-item>
    <mat-list-item>
      <b>Total insotitori:</b>&nbsp;{{totalInsotitori}}
    </mat-list-item>
    <mat-list-item>
      <b>Persoane + insotitori:</b>&nbsp;{{totalNuntasi}}
    </mat-list-item>
    <mat-list-item>
      <b>Dintre care invitate:</b>&nbsp;{{totalInvitati}}
    </mat-list-item>
    <mat-list-item>
      <b>Invitati care au confirmat confirmat:</b>&nbsp;{{totalConfirmat}}
    </mat-list-item>
  </mat-list>
</div>