<button (click)="adaugaNuntas()" mat-raised-button color="primary">Adauga</button>
<!-- <button (click)="importNuntasi()" mat-raised-button color="primary">import</button> -->


<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cauta...">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef> header </mat-header-cell>
      <mat-cell *matCellDef="let row"> <button (click)="stergeNuntas(row.key)" mat-raised-button color="warn">Sterge</button></mat-cell>
    </ng-container>
    
    <!-- ID Column -->
    <ng-container matColumnDef="nume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nume </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nume}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="prenume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prenume </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.prenume}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nrInsotitori">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Insotitori </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nrInsotitori}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="categorii">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Categorii </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.categorii}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="parte">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Din partea </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.parte}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invitat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Invitat </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.invitat}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="confirmat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Confirmat </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.confirmat}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>