<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">Nume</th>
      <th scope="col">Prenume</th>
      <th scope="col">Invitat</th>
      <th scope="col">Confirmat</th>
      <th scope="col">Din partea</th>
      <th scope="col">Nr. insotitori</th>
      <th scope="col">Categorii</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button (click)="adaugaNuntas()" type="button" class="btn btn-primary">Adauga</button>
      </td>
      <td>
        <input type="text" [(ngModel)]="nuntasNou.nume">
      </td>
      <td>
        <input type="text" [(ngModel)]="nuntasNou.prenume">
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="nuntasNou.invitat">
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="nuntasNou.confirmat">
      </td>
      <td>
        <input type="text" [(ngModel)]="nuntasNou.parte">
      </td>
      <td>
        <input type="number" [(ngModel)]="nuntasNou.nrInsotitori">
      </td>
      <td>
        <input type="text" [(ngModel)]="nuntasNou.categorii">
      </td>
    </tr>
    <tr *ngFor="let pers of nuntasi | async">
      <td>
          <button (click)="stergeNuntas(pers.key)" type="button" class="btn btn-danger">Sterge</button>
      </td>
      <th scope="row">{{pers.nume}}</th>
      <td>{{pers.prenume}}</td>
      <td>{{pers.invitat}}</td>
      <td>{{pers.confirmat}}</td>
      <td>{{pers.parte}}</td>
      <td>{{pers.nrInsotitori}}</td>
      <td>{{pers.categorii}}</td>
    </tr>
  </tbody>
</table>